.ctn-products{
    padding: 1em;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 2em;
    margin-top: 2em;
    gap: 1em;
}

.btn-custom{
    font-weight: 500;
    background-color: var(--waterGreen);
    color:var(--white);
}

.btn-custom:hover{
    background: #28b394;
    color: var(--white);
    font-weight: 500;
}

.btn-custom:active{
    background-color:#1da88a;
}