<div class="ctn cnt-dash">
    <h4 class="font-weight-bold py-3 mb-1">
        Dashboard
    </h4>
    <div class="card text-center">
        <div class="card-header">
          Lo nuevo
        </div>
        <div class="card-body">
          <h5 class="card-title">Novedades Semanales</h5>
          <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero cum molestiae voluptatem. At odit magnam ad veritatis mollitia fuga impedit, architecto alias aliquam doloribus reiciendis ab modi expedita magni similique?.</p>
          <a routerLink="/statistics" class="btn btn-custom">Go statistics</a>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>
</div>

